* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.p {
  display: flex;
  flex-wrap: wrap;
}
.about p {
  font-size: x-large;
  color: black;
  text-align: center;

}

.row {
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

a:hover {
  color: antiquewhite;
}

body {
  background-color: whi;
}
/*Header color and background color*/
header {
  padding: 20px 0 20px 0;
  background-color: #dcd0ff;
  color: #444646;
}

header h1 {
  font-size: 36px;
  padding: 0 10px 0 50px;
  display: inline-block;
  color: white;
  background-color: #dcd0ff;
}

.photo {
  display: inline-block;
  width: 40px;
  height: 40px;
}

header a {
  color: white;
}

header nav {
  margin-right: 20px;
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  text-decoration-thickness: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
/*Header section ends*/

/*Hero Section Begins*/
.hero {
  background-image: url("../images/TN4.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  font-size: 25px;
  text-align: right;
  background-color: #dcd0ff;
  color: white;
  padding: 5px;
  float: right;
  margin-top: 9%;
  margin-right: 5%;
}
/*Hero Section Ends*/

/*Projects name */
.projects {
  display: flex;
  margin: 30px;
  column-gap: 25px;
}

.projects h2 {
  border-right: 2px solid black;
  width: 200px;
  text-align: right;
  flex-shrink: 0;
  color: black;
  font-size: 35px;
  padding-right: 15px;
}

.projects img {
  height: 200px;
}

.projects div {
  color: white;
}

.column {
  display: flex;
  min-height: 150px;
  min-width: 550px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card-header,
.card-footer {
  background-color: #dcd0ff;
  padding: 5px 5px 5px 5px;
}

.card-container#first-card {
  flex-basis: 95%;
}

.card-container {
  flex-basis: 47%;
}

.card-container:hover {
  opacity: 0.6;
}

.project1 {
  background-image: url("../images/02-run-buddy.jpg");
  min-height: 300px;
  background-size: cover;
  flex-basis: 92%;
  border: 5px solid lightpink;
}

.project2 {
  background-image: url("../images/Screenshot.PNG");
  min-height: 125px;
  background-size: cover;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid lightpink;
}

.project3 {
  background-image: url("../images/kane.PNG");
  min-height: 125px;
  background-size: cover;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid lightpink;
}

.project4 {
  background-image: url("../images/NEW.png");
  min-height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid lightpink;
}

.project5 {
  background-image: url("../images/Screenshot\ 2022-04-17\ 000643.png");
  min-height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid lightpink;
}

.project4,
.project5 h3 {
  font: 20px;
  color: #afe9e9;
}

.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 100%;
  min-width: 400px;
}

.card-container h3 {
  color: white;
  background-color: #dcd0ff;
}

/* Place text in the middle of the image */
/*Contact Section Starts*/

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.contact ul li {
  padding: 30px 25px 25px 25px;
}

.contact ul li a {
  text-decoration: none;
  color: #444646;
  border-bottom: solid #444646 3px;
  font-size: 20px;
}

.contact ul li a:hover {
  color: white;
  background-color: antiquewhite;
  padding: 10px;
}

/*TESTING*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.photo-spot {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.line::after {
  content: "";
  clear: both;
  display: table;
}

.line img {
  border-radius: 20%;
  border: 3px solid black;
  width: 100px;
  height: 200px;
  object-fit: cover;
}

.sticky {
    position: fixed;
  top: 0;
  width: 100%
}
